<div class="favourite-modal">
    <button class="favourite-modal__close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
            <path d="M5 5L19 19M19 5L5 19" stroke="white" stroke-width="2" stroke-linecap="round"/>
            </g>
        </svg>
    </button>
    <a href="" class="favourite-modal__btn btn btn-orange">
        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0013 18.5404C9.74297 18.5404 9.49297 18.507 9.28464 18.432C6.1013 17.3404 1.04297 13.4654 1.04297 7.74036C1.04297 4.8237 3.4013 2.45703 6.3013 2.45703C7.70964 2.45703 9.0263 3.5152 10.0013 4.49854C10.9763 3.5152 12.293 2.45703 13.7013 2.45703C16.6013 2.45703 18.9596 4.83203 18.9596 7.74036C18.9596 13.4737 13.9013 17.3404 10.718 18.432C10.5096 18.507 10.2596 18.5404 10.0013 18.5404Z" fill="white"/>
        </svg>
        <span class="favourite-modal__btn-title">Смотреть все</span>
        <span class="favourite-modal__btn-num">4</span>
    </a>
    <div class="favourite-modal__desc">
        <p>Дополнительная скидка <span>3%</span> предоставляется при заказе от 3-х рекламных конструкций (РК), далее по 1% за каждую РК. </p>
        <p>Максимальная дополнительная скидка <span>10%</span> (суммируется с некоторыми другими акционными предложениями). </p>
    </div>
</div>