@import "../vars";
.display1 {
    font-weight: 600;
    font-size: 96px;
    line-height: 130%;
    .rect {
        transform: rotate(-45deg) translateY(-20px);
    }
}

.display2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
}

.display3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
}

.display4 {
    font-size: 30px;
    line-height: 140%;
}

p {
    font-size: 18px;
    line-height: 150%;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    span {
        color: $orange;
    }
    a {
        text-decoration: underline;
        font-weight: 600;
    }
}

li {
    font-size: 18px;
    line-height: 150%;
    position: relative;
    padding-left: 20px;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

ul {
    li {
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 5px;
            height: 5px;
            border-radius: 1px;
            transform: rotate(-45deg);
            background-color: $orange;
            left: 0;
            top: 13px;
        }
    }
}

ol {
    counter-reset: num;
    padding-left: 0;
    li {
        padding-left: 27px;
        &:before {
            content: counter(num) ".";
            counter-increment: num;
            position: absolute;
            min-width: 27px;
            height: 100%;
            font-weight: 600;
            left: 0;
            top: 0;
            display: block;
            color: $orange;
        }
    }
}

.orange-text {
    color: $orange;
}

@media screen and (max-width: 1850px) {
    .display1 {
        font-size: 83px;
    }
    .display2 {
        font-size: 52px;
    }
    .display3 {
        font-size: 44px;
    }
    .display4 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1439px) {
    .display1 {
        font-size: 70px;
        .rect {
            transform: rotate(-45deg) translateY(-16px);
        }
    }
    .display2 {
        font-size: 40px;
    }
    .display3 {
        font-size: 40px;
    }
    p {
        font-size: 15px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 992px) {
    .display1 {
        font-size: 52px;
        .rect {
            transform: rotate(-45deg) translateY(-10px);
        }
    }
    .display2 {
        font-size: 36px;
    }
    .display3 {
        font-size: 36px;
    }
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .display1 {
        font-size: 40px;
        line-height: 120%;
        .rect {
            transform: rotate(-45deg) translateY(-10px);
        }
    }
    .display2 {
        font-size: 24px;
    }
    .display3 {
        font-size: 24px;
        line-height: 120%;
    }
    .display4 {
        font-size: 18px;
    }
    ul {
        li {
            padding-left: 15px;
            &::before {
                top: 6px !important;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .display1 {
        font-size: 34px;
    }
    .display2 {
        font-size: 20px;
    }
    .display4 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
}