<div class="promo-card__img">
    <img src="@@img" alt="">
    <span class="promo-card__badge">@@badge</span>
</div>
<a href="" class="promo-card__title">@@title</a>

<div class="promo-card__info">
    <p>Новое замечательное предложение для рекламодателей, которым нужна краткосрочная рекламная кампания. Мы отобрали 6 цифровых суперсайтов 4х12 и 8 цифровых билбордов 3х4 и 3х6, расположенных в самых разных точках Московской области.</p>
    <ul>
        <li>для форматов 3х4 и 3х6 стоимость одного показа 1,5 рубля, 1 день размещения — 2160 руб. (1 440 показов в сутки);</li>
        <li>для формата 4х12 стоимость одного показа 3 рубля, 1 день размещения - 4320 руб. (1 440 показов в сутки);</li>
        <li>в стоимость не включено изготовление видеоролика;</li>
        <li>рекламу можно разместить на любой период от 1 дня.</li>
    </ul>
</div>

<button class="promo-card__more">
    <span>Посмотреть условия</span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9L12 15L18 9" stroke="#002B45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>