@import "../vars.scss";
@import "../mixins.scss";
.news {
    padding: 50px 0 70px;
    &__title {
        .rect {
            width: 9px;
            height: 9px;
            transform: rotate(-45deg) translateY(-15px);
        }
        .rect1 {
            margin-left: 40px;
        }
        .rect2 {
            margin-left: 2px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__left {
        flex-grow: 1;
    }
    &__right {
        width: 275px;
        flex-shrink: 0;
        margin-left: 85px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.news-card {
    padding: 40px 45px;
    border: 1px solid #E7ECEF;
    border-radius: 40px;
    font-weight: 400;
    &__img {
        height: 270px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }
    &__date {
        font-size: 16px;
        line-height: 150%;
        margin-top: 20px;
        opacity: 0.4;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        display: block;
        margin-top: 15px;
    }
    &__desc {
        font-size: 18px;
        line-height: 150%;
        margin-top: 15px;
    }
}

.news-nav {
    position: relative;
    // top: 190px;
    &__show {
        display: none;
    }
    &__group {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        &--hidden {
            display: none;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        padding-bottom: 5px;
        border-bottom: 1px solid #E7ECEF;
        max-width: 240px;
    }
    &__links {
        margin-top: 25px;
    }
    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        display: block;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &--active {
            color: $orange;
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 1840px) {
    .news {
        &__inner {
            margin-top: 40px;
        }
        &__right {
            width: 250px;
            margin-left: 95px;
        }
    }
    .news-card {
        padding: 40px;
        &__img {
            height: 260px;
        }
        &__date {
            margin-top: 15px;
        }
        &__title {
            font-size: 22px;
            margin-top: 10px;
        }
        &__desc {
            font-size: 16px;
        }
    }
    .news-nav {
        &__group {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__title {
            font-size: 22px;
            padding-bottom: 7px;
        }
        &__links {
            margin-top: 20px;
        }
        &__link {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1439px) {
    .news {
        padding: 40px 0 50px;
        &__right {
            width: 240px;
            margin-left: 80px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .news-card {
        padding: 30px;
        border-radius: 30px;
        &__img {
            height: 190px;
            img {
                border-radius: 20px;
            }
        }
        &__date {
            font-size: 14px;
        }
        &__title {
            font-size: 20px;
            margin-top: 15px;
        }
        &__desc {
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 1279px) {
    .news {
        &__inner {
            flex-wrap: wrap;
        }
        &__right {
            order: -1;
            width: 100%;
            margin: 0 0 50px;
        }
        &__left {
            flex-grow: unset;
            width: 100%;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .news-nav {
        &__show {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__toggler {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: $orange;
            svg {
                margin-left: 15px;
            }
            &:hover {
                color: $orange2;
                cursor: pointer;
                path {
                    stroke: $orange2;
                }
            }
            &--active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        &__subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            opacity: 0.6;
        }
        &__hidden {
            display: none;
            margin-top: 40px;
        }
        &__group {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        &__title {
            font-size: 24px;
            padding-bottom: 5px;
            max-width: 100%;
        }
        &__links {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }
        &__link {
            font-size: 16px;
            margin: 0 !important;
        }
    }
    .news-card {
        border-radius: 40px;
        &__img {
            height: 250px;
            img {
                border-radius: 30px;
            }
        }
        &__date {
            font-size: 16px;
            margin-top: 20px;
        }
        &__title {
            font-size: 22px;
            margin-top: 10px;
        }
        &__desc {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 992px) {
    .news {
        padding: 30px 0 25px;
        &__title {
            .rect {
                transform: rotate(-45deg) translateY(-8px);
            }
            .rect1 {
                margin-left: 30px;
            }
        }
        &__inner {
            margin-top: 30px;
        }
        &__right {
            margin: 0 0 40px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .news-nav {
        position: relative;
        top: 0;
        &__toggler {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__hidden {
            margin-top: 30px;
        }
        &__group {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &__title {
            font-size: 20px;
            padding-bottom: 10px;
        }
        &__links {
            margin-top: 20px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .news-card {
        padding: 25px;
        &__img {
            height: 200px;
        }
        &__date {
            font-size: 14px;
            margin-top: 15px;
        }
        &__title {
            font-size: 18px;
        }
        &__desc {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    .news {
        &__title {
            .rect {
                width: 6px;
                height: 6px;
                transform: rotate(-45deg) translateY(-4px);
            }
            .rect1 {
                margin-left: 20px;
            }
        }
        &__inner {
            margin-top: 25px;
        }
        &__right {
            margin: 0 0 25px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    .news-nav {
        &--active {
            .news-nav {
                &__show {
                    padding: 2px;
                }
                &__toggler {
                    border: none;
                    z-index: 6;
                    position: relative;
                    padding-left: 19px;
                    padding-right: 19px;
                }
                &__hidden {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
        }
        &__toggler {
            transition: color .225s;
            width: 100%;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid #E6EAED;
            border-radius: 13px;
            padding: 0 25px;
            justify-content: space-between;
            color: $blue;
            path {
                stroke: $blue;
                opacity: 0.4;
            }
            &:hover {
                color: $blue;
                border-color: $blue;
                path {
                    opacity: 1;
                    stroke: $blue;
                }
            }
        }
        &__subtitle {
            display: none;
        }
        &__hidden {
            z-index: 5;
            display: block !important;
            position: absolute;
            left: 0;
            top: 0;
            background: #FFFFFF;
            border: 1px solid rgba(21, 70, 115, 0.8);
            border-radius: 13px;
            margin: 0;
            padding: 60px 2px 20px 20px;
            opacity: 0;
            pointer-events: none;
            width: 100%;
            transition: all .225s;
        }
        &__scroll {
            height: 100%;
            overflow-y: auto;
            padding-right: 15px;
            max-height: 355px;
            @include scroll2;
        }
        &__group {
            &--hidden {
                display: block;
            }
        }
        &__title {
            font-size: 16px;
            display: block;
        }
        &__links {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .news-card {
        padding: 15px;
        border-radius: 20px;
        &__img {
            height: unset;
            img {
                height: unset;
                border-radius: 15px;
            }
        }
        &__date {
            margin-top: 10px;
        }
        &__title {
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 374px) {
    .news {
        padding-top: 20px;
        &__title {
            .rect {
                transform: rotate(-45deg) translateY(-2px);
            }
            .rect1 {
                margin-left: 10px;
            }
        }
    }
    .news-card {
        &__img {
            height: 120px;
            img {
                height: 100px;
            }
        }
        &__date {
            font-size: 13px;
        }
        &__title {
            font-size: 16px;
        }
        &__desc {
            font-size: 13px;
            margin-top: 5px;
        }
    }
}