<div class="adv-banner__detail">
    <div class="adv-banner__detail-wrap">
        <div class="adv-banner__img">
            <img src="img/detail.webp" alt="">
        </div>
        <div class="adv-banner__content">
            <div class="adv-banner__title">@@title</div>
            <div class="adv-banner__desc">Рекламные конструкции, на которых одновременно можно показывать сразу несколько рекламных изображений, которые одно за другим сменяют друг друга.</div>
        </div>
    </div>
</div>