<div class="config-filter__items">
    <div class="filter-item filter-item--location">
        <div class="filter-item__show">
            <div class="filter-item__title">
                <span>Направление</span>
                <span class="filter-item__num"></span>
            </div>
            <div class="filter-item__search">
                <input type="text" placeholder="Начните вводить...">
            </div>
        </div>
        <div class="filter-item__hidden">
            <div class="filter-item__variants">
                <div class="filter-item__regions">
                    <div class="filter-item__regions-show">
                        <div class="filter-item__regions-check check">
                            <input type='checkbox' />
                            <label>Московская область</label>
                        </div>
                        <button class="filter-item__regions-arrow"></button>
                    </div>
                    <div class="filter-item__regions-hidden">
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Рублёво-Успенское шоссе</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>А-107</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Бронницы</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Рублёво-Успенское шоссе</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>А-107</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Бронницы</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Рублёво-Успенское шоссе</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>А-107</label>
                        </div>
                        <div class="filter-item__variant check">
                            <input type='checkbox' />
                            <label>Бронницы</label>
                        </div>
                    </div>
                </div>

                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>Москва</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-item filter-item--month">
        <div class="filter-item__show">
            <div class="filter-item__title">
                <span>Август</span>
            </div>
        </div>
        <div class="filter-item__hidden">
            <div class="filter-item__variants">
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>Август</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>Сентябрь</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>Октябрь</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-item">
        <div class="filter-item__show">
            <div class="filter-item__title">
                <span>Удаленность от МКАД</span>
                <span class="filter-item__num"></span>
            </div>
        </div>
        <div class="filter-item__hidden">
            <div class="filter-item__variants">
                <div class="filter-item__variant-all check">
                    <input type='checkbox' />
                    <label>Выбрать все</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>0 км - 5 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>5 км - 10 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>10 км - 15 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>15 км - 20 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>20 км - 25 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>25 км - 30 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>30 км - 35 км от МКАД</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>35 км - 40 км от МКАД</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-item">
        <div class="filter-item__show">
            <div class="filter-item__title">
                <span>POI</span>
                <span class="filter-item__num"></span>
            </div>
        </div>
        <div class="filter-item__hidden">
            <div class="filter-item__variants">
                <div class="filter-item__variant-all check">
                    <input type='checkbox' />
                    <label>Выбрать все</label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon.svg" alt="">
                </span>
                <span>Автоцентр</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon2.svg" alt="">
                </span>
                <span>АЗС</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon3.svg" alt="">
                </span>
                <span>Ресторан</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon4.svg" alt="">
                </span>
                <span>Рынок</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon5.svg" alt="">
                </span>
                <span>Светофор</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon6.svg" alt="">
                </span>
                <span>Торговый центр</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon7.svg" alt="">
                </span>
                <span>Фитнес-центр</span>
            </label>
                </div>
                <div class="filter-item__variant check">
                    <input type='checkbox' />
                    <label>
                <span class="filter-item__variant-icon">
                    <img src="img/variant-icon8.svg" alt="">
                </span>
                <span>Новостройки</span>
            </label>
                </div>
            </div>
        </div>
    </div>
</div>