<div class="config-filter__types2">
    <div class="config-filter__type2 check">
        <input checked type='checkbox' />
        <label>Билборды</label>
    </div>
    <div class="config-filter__type2 check">
        <input type='checkbox' />
        <label>Цифровые Билборды</label>
    </div>
    <div class="config-filter__type2 check">
        <input type='checkbox' />
        <label>Скроллеры</label>
    </div>
    <div class="config-filter__type2 check">
        <input type='checkbox' />
        <label>Суперсайты</label>
    </div>
    <div class="config-filter__type2 check">
        <input checked type='checkbox' />
        <label>Цифровые суперсайты</label>
    </div>
</div>