<div class='container'>
    <div class='consult__inner'>
        <h2 class="consult__title display2">@@title</h2>
        <p class="consult__desc">Заполните форму ниже и мы свяжемся с вами в ближайшее время!</p>
        <form action="" class="consult__form">
            <fieldset class='consult__form-group form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='consult__form-group form-group form-group--error'>
                <input type='text' placeholder="Телефон" />
                <span class="form-group__error">Введите корректный номер</span>
            </fieldset>
            <button class="consult__btn btn btn-orange">Перезвоните мне</button>
            <div class="consult__agree">
                Нажимая на кнопку, я соглашаюсь с условиями <br>
                <a href="">Политики конфиденциальности</a>
            </div>
        </form>
    </div>
</div>