<div class="modal  fade" id="modal1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                <path d="M5 5L19 19M19 5L5 19" stroke="#002B45" stroke-width="2" stroke-linecap="round"/>
                </g>
            </svg>
        </button>
        <div class="modal__title">Заявка на бесплатную консультацию</div>
        <form action="" class="modal__form">
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Телефон" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Email" />
            </fieldset>
            <button class="modal__btn btn btn-orange">Отправить заявку</button>
            <div class="modal__agree">
                Нажимая на кнопку, я соглашаюсь с условиями
                <a href="">Политики конфиденциальности</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal2" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                <path d="M5 5L19 19M19 5L5 19" stroke="#002B45" stroke-width="2" stroke-linecap="round"/>
                </g>
            </svg>
        </button>
        <div class="modal__title">Запросить стоимость размещения рекламы</div>
        <div class="modal__desc">Наш менеджер свяжется с вами в течение 5 минут</div>
        <form action="" class="modal__form">
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Телефон" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Email" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <textarea placeholder="Дополнительные пожелания"></textarea>
            </fieldset>
            <button class="modal__btn btn btn-orange">Отправить заявку</button>
            <div class="modal__agree">
                Нажимая на кнопку, я соглашаюсь с условиями
                <a href="">Политики конфиденциальности</a>
            </div>
        </form>
    </div>
</div>

<div class="modal  fade" id="modal3" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                <path d="M5 5L19 19M19 5L5 19" stroke="#002B45" stroke-width="2" stroke-linecap="round"/>
                </g>
            </svg>
        </button>
        <div class="modal__title">Забронировать рекламу</div>
        <form action="" class="modal__form">
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Телефон" />
            </fieldset>
            <fieldset class='modal__form-group form-group'>
                <input type='text' placeholder="Email" />
            </fieldset>
            <button class="modal__btn btn btn-orange">Отправить заявку</button>
            <div class="modal__agree">
                Нажимая на кнопку, я соглашаюсь с условиями
                <a href="">Политики конфиденциальности</a>
            </div>
        </form>
    </div>
</div>

<!-- <div class="modal-backdrop show"></div> -->