<div class="news-nav">
    <div class="news-nav__show">
        <div class="news-nav__toggler">
            <span>Выбрать раздел</span>
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L11 1" stroke="#FF7A57" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <span class="news-nav__subtitle">Новости наружной рекламы</span>
    </div>
    <div class="news-nav__hidden">
        <div class="news-nav__scroll">
            <div class="news-nav__group news-nav__group--hidden">
                <a href="" class="news-nav__link">Все новости</a>
            </div>
            <div class="news-nav__group">
                <div class="news-nav__title">Новостные разделы</div>
                <div class="news-nav__links">
                    <a href="" class="news-nav__link news-nav__link--active">Новости наружной рекламы</a>
                    <a href="" class="news-nav__link">Рынок наружной рекламы</a>
                    <a href="" class="news-nav__link">События</a>
                </div>
            </div>
            <div class="news-nav__group">
                <div class="news-nav__title">Рекламодателю</div>
                <div class="news-nav__links">
                    <a href="" class="news-nav__link">Справочник рекламодателя</a>
                    <a href="" class="news-nav__link">Реклама товаров и услуг</a>
                    <a href="" class="news-nav__link">Рекламное законодательство</a>
                    <a href="" class="news-nav__link">Словарь терминов</a>
                </div>
            </div>
            <div class="news-nav__group">
                <div class="news-nav__title">Популярные статьи</div>
                <div class="news-nav__links">
                    <a href="" class="news-nav__link">Реклама в метро</a>
                    <a href="" class="news-nav__link">Wi-Fi реклама в метро</a>
                    <a href="" class="news-nav__link">Пассажиропоток метро</a>
                    <a href="" class="news-nav__link">Рекламные агентства Москвы</a>
                    <a href="" class="news-nav__link">Реклама в аэропортах</a>
                    <a href="" class="news-nav__link">Реклама на остановках</a>
                    <a href="" class="news-nav__link">Реклама на скроллерах</a>
                    <a href="" class="news-nav__link">Реклама на транспорте</a>
                    <a href="" class="news-nav__link">Медиабаинг и баинговые агентства</a>
                </div>
            </div>
        </div>
    </div>
</div>