@import 'vars';
@import 'mixins';
html {
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body {
    font-family: $font1;
    background: #fff;
    font-weight: 500;
    color: $blue;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    &.fixed-body {
        overflow-y: hidden;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px;
    &--small {
        padding: 0 240px;
    }
    &--small2 {
        padding: 0 240px;
    }
    @media screen and (max-width: 1840px) {
        padding: 0 50px;
        &--small {
            padding: 0 150px;
        }
        &--small2 {
            padding: 0 150px;
        }
    }
    @media screen and (max-width: 1279px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 992px) {
        padding: 0 30px;
    }
    @media screen and (max-width: 767px) {
        padding: 0 15px;
    }
}

a {
    &:hover {
        color: $orange;
    }
}

.custom-scroll {
    @include scroll2;
}