@import "vars";
@mixin font-face($name, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: url('../fonts/#{$file}.ttf') format('ttf'),
        url('../fonts/#{$file}.woff2') format('woff2'),
        url('../fonts/#{$file}.woff') format('woff'),
        url('../fonts/#{$file}.eot') format('eot');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin scroll {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: $orange;
        border-radius: 4px;
    }
}

@mixin scroll2 {
    .mCSB_scrollTools {
        background: transparent;
        width: 5px !important;
        height: 100%;
        // opacity: 0;
    }
    .mCSB_draggerRail {
        width: 5px;
        background: transparent;
    }
    .mCSB_dragger_bar {
        background: $orange !important;
        border-radius: 4px !important;
        width: 5px !important;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px;
    }
}