$font1:'Gilroy',
sans-serif;
// Colors
$blue:#002B45;
$orange:#FF7A57;
$orange2:#F06641;
$blueLight:#427696;
$green:#6FCF97;
$green2:#46B474;
$red:#D10B0B;
$red2:#BC0707;
$blue2:#2F80ED;
$greyBg:#EFF5F8;